<!DOCTYPE HTML>
<html>
    <head>
        <link href="{{ asset("bundles/cantatamain/css/bootstrap.min.css") }}" rel="stylesheet"/>
        <link href="{{ asset("bundles/cantatamain/css/main.css") }}" rel="stylesheet"/>
        <script src="{{ asset("bundles/cantatamain/js/jquery.js") }}"></script>
        <script src="{{ asset("bundles/cantatamain/js/bootstrap.min.js") }}"></script>
        
    </head>
    <body>
        {% if notification is defined %}
            {{ notification }}
            <br>
        {% endif %}
        <div class="content">
            <ul>
                <li>
                    <a href="{{ path('addProdFromFile') }}">Մուտքագրել ապրանքների անվանումները և գները ֆայլից</a>
                </li>
                <li>
                    <a href="{{ path('addProductQuantityInOut') }}">Մուտքագրել ապրանքների մնացորդները կամ մուտք/ելքերը</a>
                </li>
                <li>
                    <a href="{{ path('getResponse') }}">Ստանալ ամսեկան հաշվետվություն</a>
                </li>
            </ul>
        <div>
    </body>
</html>