<!DOCTYPE HTML>
<html>
    <head>
        <link href="{{ asset("bundles/cantatamain/css/bootstrap.min.css") }}" rel="stylesheet"/>
        <link href="{{ asset("bundles/cantatamain/css/main.css") }}" rel="stylesheet"/>
        <link href="{{ asset("bundles/cantatamain/css/styles.css") }}" rel="stylesheet"/>
        <link href="{{ asset("bundles/cantatamain/css/nanoscroller.css") }}" rel="stylesheet"/>
        <link href="{{ asset("bundles/cantatamain/css/angular-motion.min.css") }}" rel="stylesheet"/>
        
        <script src="{{ asset("bundles/cantatamain/js/vendor/jquery.js") }}"></script>
        <script src="{{ asset("bundles/cantatamain/js/plugins/jquery.nanoscroller.min.js") }}"></script>
        <script src="{{ asset("bundles/cantatamain/js/vendor/bootstrap.min.js") }}"></script>
        <script src="{{ asset("bundles/cantatamain/js/vendor/angular.min.js") }}"></script>
        <script src="{{ asset("bundles/cantatamain/js/vendor/angular-animate.min.js") }}"></script>
        <script src="{{ asset("bundles/cantatamain/js/vendor/angular-resource.min.js") }}"></script>
        <script src="{{ asset("bundles/cantatamain/js/vendor/angular-strap.min.js") }}"></script>

        {% if app.debug %}
            <script src="{{ asset("bundles/cantatamain/js/app_dev_pre.js") }}"></script>
        {% else %}
            <script src="{{ asset("bundles/cantatamain/js/app_pre.js") }}"></script>
        {% endif %}
        
        <script src="{{ asset("bundles/cantatamain/js/app.js") }}"></script>
        <script src="{{ asset("bundles/cantatamain/js/main.js") }}"></script>
        <script src="{{ asset("bundles/cantatamain/js/modify.js") }}"></script>
        <script src="{{ asset("bundles/cantatamain/js/search.js") }}"></script>
    </head>
    <body>
        {% if notification is defined %}
            {{ notification }}
            <br>
        {% endif %}
        <div class="content">
            <nav>
                <ul class="fancyNav">
                    <li id="home"><a href="{{ path('homepage') }}" class="homeIcon">Home</a></li>
                    <li id="news"><a href="{{ path('addProductQuantityInOut') }}">մուտք/ելքերը</a></li>
                    <li id="about"><a href="{{ path('getResponse') }}">հաշվետվություն</a></li>
                    <li id="services"><a href="{{ path('addProdFromFile') }}">Մուտքագրել ապրանքները</a></li>
                    <li id="services"><a href="{{ path('addProduct') }}">Մուտքագրել ապրանք</a></li>
                </ul>
            </nav>
        </div>
    </body>
</html>

{% block body %}
{% endblock %}
{% block errors %}
{% endblock %}
{% block edit %}
{% endblock %}