<link href="{{ asset("bundles/cantatamain/css/bootstrap.min.css") }}" rel="stylesheet"/>
<link href="{{ asset("bundles/cantatamain/css/main.css") }}" rel="stylesheet"/>
<script src="{{ asset("bundles/cantatamain/js/jquery.js") }}"></script>
<script src="{{ asset("bundles/cantatamain/js/bootstrap.min.js") }}"></script>
{% if form is defined %}
    {{ form(form) }}
    <br>
{% endif %}
{% if table is defined %}
    <table class="table">
        <tr>
            <td>Անվանումը</td>
            <td>Ապրանքի քանակը</td>
            <td>Ապրանքի մուտք/ելքը</td>
            <td>Ապրանքի մնացորդը</td>
            <td>Վաճառքը</td>
            <td>Վաճառքի գինը</td>
            <td>Ինքնարժեքը</td>
            <td>Եկամուտը</td>
        </tr>
    {% for row in table %}
        <tr>
        {% for column in row %}
            <td>
                {{ column }}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
    <br>
{% endif %}
{% if result is defined %}
    <table class="table">
        <tr>
            <td></td>
            <td>Վաճառքի գներով</td>
            <td>Ինքնարժեքով</td>
            <td>Շահույթը</td>
        </tr>
        {% for rows in result %}
            <tr>
            {% for column in rows %}
                <td>
                    {{ column }}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{{ path('getResponse') }}">Վերադառնալ նախորդ էջ</a>
    <br>
{% endif %}
<a href="{{ path("homepage") }}">Վերադառնալ գլխավոր էջ</a>
